h1{
    color: goldenrod;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(red.jpg);
    background-size: cover;
    text-align: center;
    color:cornsilk;
    font-weight: bold ;
    font-size: medium;

}
#message-el
{
    font-style: italic ;
}
button{
    font-weight: bold;
    padding-top:5px ;
    padding-bottom: 5px;
    color: rgb(181, 10, 78);
    background:goldenrod ;
    width:"150px";
    border-radius:2px ;
    border:2px;
    margin-top: 2px;
    margin-bottom: 2px;
}